header {
    background-color: $header-nav-background;
    height: $header-nav-height-mobile;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10001;
    & > div {
        line-height: $header-nav-height-mobile;
        overflow: hidden;
        width: 100%;
    }
    .header-top-menu {
        a {
            color: $header-menu-link-color;
            font-weight: bold;
            @include font-size($header-menu-link-size);
            text-transform: uppercase;
            text-decoration: none;
            padding: 5px;
        }
        li {
            display: inline-block;
            list-style: none;
            &:after {
                content: "|";
                color: $header-menu-link-separator-color;
                @include font-size($header-menu-link-size);
                margin-left: 5px;
                margin-right: 5px;
                @include media-breakpoint-up(lg) {
                    margin-left: 15px;
                    margin-right: 15px;
                }
            }
            &:last-child:after {
                content: "";
            }
            &.current-menu-item {
                a {
                    border-bottom: 4px solid $header-menu-link-active-bottom;
                }
            }
        }    
    }
}
.banner {
    position: relative;
    height: $header-banner-height-mobile;
    overflow: hidden;
    width: 100%;
    img {
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        min-height: 100%;
        min-width: 100%;
        position: absolute;
    }
}
.boxcontainer {
    position: relative;
    & > div {
        overflow: hidden;
        .boxtitle {
            border: $header-banner-boxtitle-border;
            color: $header-banner-color;
            left: 1%;
            margin: 0px;
            padding: 0px;
            position: absolute;
            top: -80px;
            vertical-align: top;
            width: 98%;

            @include media-breakpoint-up(sm) {
                left: 5%;
                width: 90%;
            }

            @include media-breakpoint-up(md) {
                left: 14%;
                width: 72%;
            }

            @include media-breakpoint-up(xl) {
                left: 25%;
                width: 50%;
            }

            div {
                height: 100%;
                padding: 15px 30px;
                text-align: center;
                line-height: 100%;
                width: 100%;

                &.thetitle {
                    background-color: rgba(0, 0, 0, 0.4);
                }
                &.theheadline p {
                    @include font-size(3);
                }
            }

            h1, h2, h3 {
                display: inline-block;
                font-weight: bold;
                letter-spacing: 2px;
                margin: 0px;
                margin-left: 10px;
            }
            h1 {
                @include font-size(9);
                &:first-child {
                    margin-left: 0px;
                }
                @include media-breakpoint-up(md) {
                    @include font-size(11);
                }
                @include media-breakpoint-up(md) {
                    @include font-size(12);
                }
            }
            h2, h3 {
                position: relative;
                @include font-size(2);
                top: -6px;
                @include media-breakpoint-up(sm) {
                    @include font-size(3);
                    top: -7px;
                }
                @include media-breakpoint-up(md) {
                    @include font-size(4);
                    top: -29px;
                }
            }
        }
    }    
}
.mobile-menu {
    line-height: $header-nav-height-desktop;
    select {
        @include font-size(2);
        height: 30px;
        width: 100%;
    }
}