/* Main scss file. Here we import the rest of the styles */

@import '../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../../node_modules/bootstrap/scss/utilities';
@import '../../node_modules/bootstrap/scss/type';
@import '../../node_modules/bootstrap/scss/images';

@import 'mixins';
@import 'variables';
@import 'header';
@import 'about';
@import 'accomplishments';
@import 'campaign';
@import 'footer';

*:focus {
    outline: none;
}
html {
    font-size: $font-base-size;
}
body {
    font-family: $font-base-family;
    margin: 0px;
    margin-top: $header-nav-height-desktop;
}
p {
    font-weight: 300;
    @include font-size(2.3);
}
.strikethrough {
    @include font-size(4);
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(sm) {
        @include font-size(7);
    }
    &:before {
        border-top: 2px solid #ffffff;
        content:"";
        margin: 0 auto;
        position: absolute;
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 100%;
        z-index: -1;
    }
    span {
        background: #fff; 
        padding: 0 15px; 
    }
}
.boxcontent {
    display: inline-block;
    line-height: 50%;
    padding: 1px 15px;
    margin-bottom: 10px;
    min-width: 50%;
    h1, h2, h3 {
        display: inline-block;
        letter-spacing: 7px;
    }
    h1 {
        margin-right: 5px;
        @include font-size(7);
    }
    h2, h3 {
        @include font-size(3);
    }
    &.float-left {
        margin-left: 0px;
        @include media-breakpoint-up(md) {
            margin-left: 30px;
        }
    }
    &.float-right {
        margin-right: 0px;
        @include media-breakpoint-up(md) {
            margin-right: 30px;
        }
    }
}
.alignleft {
    float: left;
}

a, input[type="button"], input[type="submit"] {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &.btn {
        border: 0px none transparent;
        color: $btn-font-color;
        @include font-size(2.5);
        font-weight: 700;
        padding: 15px 20px;
        text-align: center;
        text-shadow: 0px 3px 5px rgba(30, 30, 30, 1);
    }
    &.btn-red {
        background-color: $btn-background-red;
    }
    &.btn-blue {
        background-color: $btn-background-blue;
    }   
}    
.shadow-rb {
    @include box-shadow-right-bottom();
}
.shadow-rlb {
    @include box-shadow-right-left-bottom();
}
section {
    @include font-size(2);
}
#menuToggle {
    display: block;
    position: absolute;
    top: 25%;
    left: 60%;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
        &:checked ~ span{
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: #232323;
        }
        &:checked ~ span:nth-last-child(3){
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }
        &:checked ~ span:nth-last-child(2){
            transform: rotate(-45deg) translate(0, -1px);
        }
    }
    span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #555555;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
        &:first-child{
            transform-origin: 0% 0%;
        }
        &:nth-last-child(2){
            transform-origin: 0% 100%;
        }
    }
}

.accordion {
    h3 {
        
        border: 2px solid $accordion-title-border-color;
        @include font-size(2);
        color: $accordion-title-color;
        cursor: pointer;
        padding: 10px;
        padding-left: 30px;
        &:after {
            @include font-size(2.1);
            color: $accordion-title-border-color;
            content: "+";
            float: right;
        } 
        &.active:after {
            content: "-";
        }
    }

    .accordion-content {
        display: none;
        font-weight: 300;
        padding: 15px;
    }
}