/* Main scss file. Here we import the rest of the styles */

@import '../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../../node_modules/bootstrap/scss/utilities';
@import '../../node_modules/bootstrap/scss/type';

@import 'mixins';
@import 'variables';
@import 'header';
@import 'about';
@import 'campaign';
@import 'footer';

html {
    font-size: $font-base-size;
}

body {
    font-family: $font-base-family;
    margin: 0px;
    margin-top: $header-nav-height-desktop;
}
.strikethrough {
    position: relative;
    z-index: 1;
    &:before {
        border-top: 2px solid #ffffff;
        content:"";
        margin: 0 auto;
        position: absolute;
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 100%;
        z-index: -1;
    }
    span {
        background: #fff; 
        padding: 0 15px; 
    }
}
.alignleft {
    float: left;
}

a, input[type="button"] {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:first-child {
        margin-right: 10px;
    }
    &.btn {
        border: 0px none transparent;
        color: $btn-font-color;
        @include font-size(2.1);
        padding: 15px 20px;
        text-align: center;
    }
    &.btn-red {
        background-color: $btn-background-red;
    }
    &.btn-blue {
        background-color: $btn-background-blue;
    }   
}    
.shadow-rb {
    @include box-shadow-right-bottom();
}
.shadow-rlb {
    @include box-shadow-right-left-bottom
}