/* Common use variables */
$font-base-family: 'Roboto', sans-serif;
/* Top menu variables */
$header-menu-link-color: #124487;
$header-menu-link-size: 20px;
$header-menu-link-separator-color: #999999;
$header-menu-link-active-bottom: #e9223e;
$header-banner-color: #ffffff;
$header-banner-heigth: 430px;
$header-banner-boxtitle-border: 3px solid #ffffff;